@model CondoriApazaJhonatan_2doParcial.Models.libroModelo.Libro

@{
    ViewData["Title"] = "Delete";
}

<h1>ELIMINAR</h1>

<h3>ESTA SEGURO DE QUE QUIERE ELIMINAR ESTE LIBRO?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Isbn" />
        <input type="submit" value="ELIMINAR" class="btn btn-danger" /> |
        <a asp-action="Index">VOLVER A LA LISTA</a>
    </form>
</div>
